@import "./../../assets/styles/varibles/varibles.scss";

nav {
  width: 100%;
  height: 80px;
  padding: 25px;
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  color: $basic-color;

  .container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-sec {
      flex: 1;
      span {
        border: 1px solid $basic-color;
        font-size: 20px;
        font-weight: 800;
        padding: 5px;
      }
    }

    .right-sec {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      li {
        list-style: none;
        //   color: white;
        &:hover {
          color: rgb(119, 112, 112);
          font-size: 16px;
        }
      }
    }
  }
}

.swiper-button-prev {
  color: transparent !important;
}
.swiper-button-next {
  color: transparent !important;
}
.swiper:hover .swiper-button-prev {
  color: white !important;
}

.swiper:hover .swiper-button-next {
  color: white !important;
}
